{% extends 'jobapp/base.html' %}
{% load markup %}
{% block title %}{{ block.super }} | Resume {% endblock title %}

{% block body_class %}{{ block.super }} resume{% endblock body_class %}

{% block nav %}{{ block.super }}{% endblock nav %}

{% block jobapp_content %}
		<section id="resume">
		    <h1>Resume</h1>
		    <section id="objective">
			<h2 class="title">Objective</h2>
			{{ object.objective|safe }}
		    </section>
		    <section class="education">
			<a id="education"></a>
			<h2 class="title">Education</h2>
			<div class="item">
			    <p class="date">(Anticipated) July 2012</p>
			    <h3>University of Northern Iowa &mdash; Masters of Arts</h3>
			    <p>Social Psychology, GPA: 3.97/4.00</p>
			</div>
			<div class="item">
			    <p class="date">May 2010</p>
			    <h3>Augustana College &mdash; Bachelor of Arts</h3>
			    <p>Psychology, GPA: 3.65/4.00</p>
			</div>
			<div class="item last">
			    <p class="date">May 2008</p>
			    <h3>Sauk Valley Community College &mdash; Associate of Arts</h3>
			    <p>Psychology, Summa Cum Laude, GPA: 4.00/4.00</p>
			</div>

		    </section>
		    <section id="research_experience">
			<a id="research-experience"></a>
			<h2 class="title">Research Experience</h2>
			<ul>
			    <li>
				<p class="date">Fall 2010 &mdash; Spring 2012</p>
				<h3>Research Lab Assistant &mdash; University of Northern Iowa</h3>
				<p class="super">Helen C. Harton PhD</p>
				<p>Participated in Harton Social Influence Lab, aided in wide variety of research projects concerning social influence, experience in running participants, administered phone surveys, collected data, analyzed data using SPSS.</p></li>
			    <li>
				<p class="date">Fall 2011</p>
				<h3>Research Assistant &mdash; University of Northern Iowa</h3> 
				<p class="super">Nicholas Schwab PhD</p>
				<p>Experience with research projects in health, culture and social psychology topic areas, conducted literature searches, ran experiments and collected data.</li>

			    <li class="last">
				<p class="date">Spring 2011 </p>
				<h3>Research Assistant &mdash; University of Northern Iowa</h3> 
				<p class="super">Robert Hitlan PhD</p>
				<p>Experience with research projects in industrial-organizational psychology topic area, conducted literature searches, ran experiments and collected data. </li>

			    
			</ul>
		    </section>

		    <section id="relevant_experience">
			<a id="relevant-experience"></a>
			<h2 class="title">Relevant Experience</h2>
			<ul>
			    <li>
				<p class="date">Spring 2012</p>
				<h3 class="where">University of Northern Iowa &mdash; Department of Psychology</h3>

				<p class="title">Graduate Teaching Assistant
				&mdash; Introduction to Psychology <!-- Sect. 1 &amp; 2 -->
				</p>
				<ul>
				    <li>Graded homework and other credited projects</li>
				    <li class="last">Administered class assessments</li>
				</ul>
			    </li>
			    <li class="last">
				<p class="date">Fall 2010</p>
				<h3 class="where">University of Northern Iowa &mdash; Department of Psychology</h3>

				<p class="title">Graduate Teaching Assistant &mdash; Research Methods</p>
				<ul>
				    <li>Resource for student questions and projects</li>
				    <li class="last">Lectured on quasi-experiments and small n sizes</li>
				</ul>
			    </li>
			</ul>
		    </section>

		    <section class="coursework">
			<a id="relevant-coursework-and-skills"></a>
			<h2 class="title">Relevant Coursework and Skills</h2>
			<div class="item">
			    <p class="row">
				<span class="k">Graduate courses</span>
				<span class="v">
				    Advanced Statistics<br/>
				    Applied Statistics<br/>
				    Psychometrics<br/>
				    Research Design<br/>
				</span>
			    </p>
			</div>
			<div class="item">
				<p class="row">
				    <span class="k">Undergraduate courses</span>
				    <span class="v">
					Research Design and Methods<br/>
					Statistics
				    </span>
				</p>
			</div>
			<div class="item last">
			    <p class="row">
				<span class="k">Experience with</span>
				<span class="v">
				    Direct-RT<br/>
				    Excel<br/>
				    Online Data Collection Programs<br/> 
				    S-Plus<br/>
				    SAS<br/> 
				    SPSS<br/>
				</span>
			    </p>
			</div>
	            </section>
		</section>

{% endblock jobapp_content %}
