{% extends 'base.html' %}
{% block title %}{{ block.super }}{% endblock title %}
{% block body_class %}{{ block.super }} index{% endblock body_class %}
{% block content %}
    <section id="index">
	<h1>Hey! I'm Sam!</h1>
	<h1>I am a recent graduate from The <a href="http://www.uni.edu/" target="_blank">University of Northern Iowa</a> with a Masters Degree in Social Psychology, living in San Diego, CA.</h1>
	<h1>I'm interested in Data Analysis, Research Design, and Quantitative/Qualitative Methods.</h1>
	<h1>Let's do some awesome work together.</h1>

	<!-- <p>Have a look at my <a href="/resume/">Resume</a> or <a href="/cv/">CV</a></p> -->
    </section>
{% endblock content %}
